/* App.css *//* App.css */

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    padding: 0;
  }
  
  .hero-section {
    background-color: #8b0000; /* Burgundy */
    color: white;
    text-align: center;
    padding: 50px 0;
  }
  
  .hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .mission-section {
    padding: 50px 20px;
    background-color: #f3e5f5;
    color: black;
    text-align: center;
  }
  
  .mission-section h2 {
    font-size: 36px;
    color: #8b0000; /* Burgundy */
    margin-bottom: 20px;
  }
  
  .additional-content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: white;
  }
  
  .additional-content-section h3 {
    font-size: 28px;
    color: #8b0000; /* Burgundy */
    margin-bottom: 15px;
  }
  
  .call-to-action-section {
    background-color: #8b0000; /* Burgundy */
    color: white;
    text-align: center;
    padding: 60px 20px;
  }
  
  .call-to-action-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .footer {
    margin-top: auto;
  }
  