body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100vh; /* Ensure full height for the body */
}

.container-fluid {
  height: 100%; /* Full height container */
  padding: 0; /* Remove padding to maximize space */
}

.chatbox {
  background-color: #f8f8f8;
  height: calc(100vh - 120px); /* Adjust based on the height of the navbar and footer */
}

textarea {
  width: 100%;
}

.home{
  height: 100%;
}